# Nivell 1
## Exercici 1
**Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un pandas Dataframe. Explora les dades que conté, i queda’t únicament amb les columnes que consideris rellevants.**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('DelayedFlights.csv')
df

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,...,9.0,18.0,0,N,0,3.0,0.0,0.0,0.0,22.0
1936754,7009717,2008,12,13,6,657.0,600,904.0,749,DL,...,15.0,34.0,0,N,0,0.0,57.0,18.0,0.0,0.0
1936755,7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,...,8.0,32.0,0,N,0,1.0,0.0,19.0,0.0,79.0
1936756,7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,...,13.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936757,7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,...,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [2]:
df.columns

Index(['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [3]:
#Eliminem les columnes que no utilitzarem
df = df.drop(['Unnamed: 0','Year', 'Month', 'DayofMonth','Cancelled', 'CancellationCode', 'Diverted','CRSDepTime','CRSArrTime','TailNum','CRSElapsedTime','Origin','Dest','TaxiIn','TaxiOut','NASDelay', 'SecurityDelay','CarrierDelay','WeatherDelay','LateAircraftDelay'], axis = 1)
df

,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,ActualElapsedTime,AirTime,ArrDelay,DepDelay,Distance
0,4,2003.0,2211.0,WN,335,128.0,116.0,-14.0,8.0,810
1,4,754.0,1002.0,WN,3231,128.0,113.0,2.0,19.0,810
2,4,628.0,804.0,WN,448,96.0,76.0,14.0,8.0,515
3,4,1829.0,1959.0,WN,3920,90.0,77.0,34.0,34.0,515
4,4,1940.0,2121.0,WN,378,101.0,87.0,11.0,25.0,688
...,...,...,...,...,...,...,...,...,...,...
1936753,6,1250.0,1617.0,DL,1621,147.0,120.0,25.0,30.0,906
1936754,6,657.0,904.0,DL,1631,127.0,78.0,75.0,57.0,481
1936755,6,1007.0,1149.0,DL,1631,162.0,122.0,99.0,80.0,689
1936756,6,1251.0,1446.0,DL,1639,115.0,89.0,9.0,11.0,533
1936757,6,1110.0,1413.0,DL,1641,123.0,104.0,-5.0,7.0,874

## Exercici 2
**Fes un informe complet del data set:**

**Resumeix estadísticament les columnes d’interès
Troba quantes dades faltants hi ha per columna
Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...)
Taula de les aerolínies amb més endarreriments acumulats
Quins són els vols més llargs? I els més endarrerits?
Etc.**

In [4]:
#Obtenim una amplia informació de cada una de les columnes del df
pd.options.display.float_format='{:,.2f}'.format
df.describe()

,DayOfWeek,DepTime,ArrTime,FlightNum,ActualElapsedTime,AirTime,ArrDelay,DepDelay,Distance
count,"1,936,758.00","1,936,758.00","1,929,648.00","1,936,758.00","1,928,371.00","1,928,371.00","1,928,371.00","1,936,758.00","1,936,758.00"
mean,3.98,"1,518.53","1,610.14","2,184.26",133.31,108.28,42.20,43.19,765.69
std,2.00,450.49,548.18,"1,944.70",72.06,68.64,56.78,53.40,574.48
min,1.00,1.00,1.00,1.00,14.00,0.00,-109.00,6.00,11.00
25%,2.00,"1,203.00","1,316.00",610.00,80.00,58.00,9.00,12.00,338.00
50%,4.00,"1,545.00","1,715.00","1,543.00",116.00,90.00,24.00,24.00,606.00
75%,6.00,"1,900.00","2,030.00","3,422.00",165.00,137.00,56.00,53.00,998.00
max,7.00,"2,400.00","2,400.00","9,742.00","1,114.00","1,091.00","2,461.00","2,467.00","4,962.00"

In [5]:
#Dades faltants per columna
df.isnull().sum()

DayOfWeek               0
DepTime                 0
ArrTime              7110
UniqueCarrier           0
FlightNum               0
ActualElapsedTime    8387
AirTime              8387
ArrDelay             8387
DepDelay                0
Distance                0
dtype: int64

In [6]:
#Amb l'ajuda 'loc', afegim la columna de la velocitat. Dedueixo que les unitats de distancia i airTime són Km i minuts
#respectivament, així que ho passem a hores per tenir la velocitat a km/h#
df.loc[:,'Velocitat'] = df['Distance']/(df['AirTime']/60)
df

,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,ActualElapsedTime,AirTime,ArrDelay,DepDelay,Distance,Velocitat
0,4,"2,003.00","2,211.00",WN,335,128.00,116.00,-14.00,8.00,810,418.97
1,4,754.00,"1,002.00",WN,3231,128.00,113.00,2.00,19.00,810,430.09
2,4,628.00,804.00,WN,448,96.00,76.00,14.00,8.00,515,406.58
3,4,"1,829.00","1,959.00",WN,3920,90.00,77.00,34.00,34.00,515,401.30
4,4,"1,940.00","2,121.00",WN,378,101.00,87.00,11.00,25.00,688,474.48
...,...,...,...,...,...,...,...,...,...,...,...
1936753,6,"1,250.00","1,617.00",DL,1621,147.00,120.00,25.00,30.00,906,453.00
1936754,6,657.00,904.00,DL,1631,127.00,78.00,75.00,57.00,481,370.00
1936755,6,"1,007.00","1,149.00",DL,1631,162.00,122.00,99.00,80.00,689,338.85
1936756,6,"1,251.00","1,446.00",DL,1639,115.00,89.00,9.00,11.00,533,359.33
1936757,6,"1,110.00","1,413.00",DL,1641,123.00,104.00,-5.00,7.00,874,504.23

In [7]:
#Creem una columna nova per comprobar si el vol ha fet tard a partir d'una funció
def fun(x):
    return x > 0
df['Puntual'] = df['ArrDelay'].apply(fun)
df

,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,ActualElapsedTime,AirTime,ArrDelay,DepDelay,Distance,Velocitat,Puntual
0,4,"2,003.00","2,211.00",WN,335,128.00,116.00,-14.00,8.00,810,418.97,False
1,4,754.00,"1,002.00",WN,3231,128.00,113.00,2.00,19.00,810,430.09,True
2,4,628.00,804.00,WN,448,96.00,76.00,14.00,8.00,515,406.58,True
3,4,"1,829.00","1,959.00",WN,3920,90.00,77.00,34.00,34.00,515,401.30,True
4,4,"1,940.00","2,121.00",WN,378,101.00,87.00,11.00,25.00,688,474.48,True
...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,6,"1,250.00","1,617.00",DL,1621,147.00,120.00,25.00,30.00,906,453.00,True
1936754,6,657.00,904.00,DL,1631,127.00,78.00,75.00,57.00,481,370.00,True
1936755,6,"1,007.00","1,149.00",DL,1631,162.00,122.00,99.00,80.00,689,338.85,True
1936756,6,"1,251.00","1,446.00",DL,1639,115.00,89.00,9.00,11.00,533,359.33,True
1936757,6,"1,110.00","1,413.00",DL,1641,123.00,104.00,-5.00,7.00,874,504.23,False

In [8]:
df['Puntual'].value_counts()

True     1723415
False     213343
Name: Puntual, dtype: int64

In [9]:
#Taula que mostra quants vols acumulats de cada companyía han fet tard i quants no
dfDelays = df.groupby(['Puntual', 'UniqueCarrier'])[['Puntual']].count()
dfDelays['Puntual'].sort_values(ascending = False)

Puntual  UniqueCarrier
True     WN               324717
         AA               172197
         MQ               130647
         UA               123989
         OO               121942
         DL               100923
         XE                94313
         CO                83646
         US                83262
         EV                75170
         NW                72395
         FL                65008
         YV                63289
False    WN                52885
True     OH                49104
         B6                48177
         9E                46896
         AS                34179
         F9                25708
False    AA                19668
         UA                17437
         CO                16549
         US                15163
         DL                13315
         MQ                11273
         OO                10491
         XE                 9350
True     HA                 7199
False    B6                 7138
         NW                 6713
         EV                 6707
         FL                 6276
         AS                 5114
         9E                 4989
         YV                 3774
         OH                 3553
         F9                 2561
True     AQ                  654
False    HA                  291
         AQ                   96
Name: Puntual, dtype: int64

In [10]:
#Vols ordenats per la seva durada
df1 = df[['AirTime']].dropna()
df1['AirTime'].sort_values(ascending=False)

1488690   1,091.00
1367047     733.00
362529      664.00
556381      655.00
556385      654.00
            ...
414132        0.00
782761        0.00
784702        0.00
53543         0.00
54342         0.00
Name: AirTime, Length: 1928371, dtype: float64

In [11]:
#Vols ordenats per la seva demora
df2 = df[['ArrDelay']].dropna()
df2['ArrDelay'].sort_values(ascending=False)

322516    2,461.00
686014    2,453.00
839306    1,951.00
1009553   1,707.00
1881639   1,655.00
            ...
109745      -67.00
352034      -68.00
493007      -69.00
1469257     -70.00
1110539    -109.00
Name: ArrDelay, Length: 1928371, dtype: float64

# Exercici 3
**Exporta el data set net i amb les noves columnes a Excel.**

In [13]:
#Agafem les primeres files de data set ja que si es molt gran no permet exporta-ho
df.head().to_excel('df.xlsx')